@charset "UTF-8" ;
html {
    font-size: 100%;
}
body {
    font-family: "Noto Sans JP" ,sans-serif;
    font-size: 0.9rem;
    letter-spacing: 0.4em;
    background-color:#FFDBF1;
}
img {
    max-width: 100%;
    vertical-align: bottom;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    width: 92%;
    max-width: 960px;
    margin: 0 auto;
}

.header-inner {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    
}
nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.toppage {
    /* height: 600px; */
    object-fit: cover;
}


.profile_page h2 {
    color: #fff;
    font-size: 90px;

}
.profile_page {
    margin: 100px auto;
}
.profile_inner {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.profile_img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    align-self: center;
    /* border: 10px solid #ffffff99; */
    /* position: absolute;
    top: 900px;
    left: 60vw; */
}
.profile_text h3::before {
    content: "YUKA OBANA";
    font-weight: lighter;
    color: #fff;
    position: absolute;
    top: -1em;
    left: 0.7em;
    font-size: 2rem;
    letter-spacing: 0.1em;
}
.profile_text h3 {
    font-weight: normal;
    font-size: 3rem;
    position: relative;
    letter-spacing: 0.3em;
    text-align: start;
}
.profile_text p {
    margin-bottom: 1em;
}

.heading {
    text-align: end;
    margin: 0.3em auto;
}
.favorite_inner {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.favorite img {
    width: 50%;
    height: 50%;
}
.favorite_text h3 {
    font-weight: normal;
    font-size: 2rem;

}

.favorite_text p {
    line-height: 2em;
    margin: 1.5em 0;
}

.skill h2 {
    margin: 0.3em auto;
}


/* skill---------------------------------------------- */
.bar-chart-002 {
    font-size: .9em;
}

.bar-chart-002 > div {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}

.bar-chart-002 dt {
    width: 170px;
    min-width: 55px;
}

.bar-chart-002 dd {
    width: 100%;
    margin: 0.5em;
    border-radius: 50px;
    background-color: #fff;
    border: 1px solid #000;
    box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.5);
}

.bar-chart-002 span {
    display: inline-block;
    padding-right: 15px;
    border-radius: inherit;
    background-color: #ffbbf199;
    color: #fff;
    font-weight: 600;
    line-height: 38px;
    text-align: right;
    white-space: nowrap;
    animation: anima-bar-chart-002 1.2s ease;
}

@keyframes anima-bar-chart-002 {
    from {
        width: 0;
    }
}

/* -------------------------------------------------------- */

/* works1-------------------------------------------------- */
.works_page {
    background-color: #fff;
    margin: 100px auto;
}
.works_page h2 {
    color: #FFDBF1;
    font-size: 90px;
}

h3 {
    background-color: #FFDBF1;
    margin: 30px 0 10px 0;
    padding: 10px;
    text-align: center;
}
.works1 {
    text-align: center;
    line-height: 2em;
}

.hagaki_img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50%;
    width: 50%;
    margin: 10px;
}

.works1_text {
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding: 0 1rem;
}

.works1_text tr th {
    text-align: center;
    padding: 30px;
    width: 30%;
}

.works1_text td {
    padding: 1rem 0;
}

.works2 p {
    text-align: center;
    padding: 0 1rem;
    margin: 0.5rem;
}

.works2 img {
    margin: auto;
    width: 50%;
    height: 50%;
    display: block;
}

.works2 .works2_inner {
    margin-bottom: 1rem;
}

.biyou_img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 35%;
    width: 35%;
    margin: 1rem 0;
}

.biyou h3 {
    background-color: #fff;
    margin: 30px 0 10px 0;
    padding: 10px;
    text-align: center
}

.biyou p {
    text-align: center;
    margin: 2rem;
}

footer img {
    display: block;
    text-align: center;
}
