@charset "UTF-8";
html {
    font-size: 100%;
}
body {
    font-family: "Noto Sans JP" ,sans-serif;
    font-size: 0.9rem;
    letter-spacing: 0.4em;
    background-color:#FFDBF1;
}
img {
    max-width: 100%;
    vertical-align: bottom;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    width: 92%;
    max-width: 960px;
    margin: 0 auto;
}

.header-inner {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.toppage {
    /* height: 600px; */
    object-fit: cover;
}

.profile_page h2 {
    color: #fff;
    font-size: 90px;
    
}

.profile_page {
    margin: 100px auto;
}

.profile_inner {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.profile_img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    align-self: center;
    /* border: 10px solid #ffffff99; */
    /* position: absolute;
    top: 900px;
    left: 60vw; */
}
.profile_text h3::before {
    content: "YUKA OBANA";
    font-weight: lighter;
    color: #fff;
    position: absolute;
    top: -1em;
    left: 0.7em;
    font-size: 2rem;
    letter-spacing: 0.1em;
}
.profile_text h3 {
    font-weight: normal;
    font-size: 3rem;
    position: relative;
    letter-spacing: 0.3em;
    text-align: start;
}
.profile_text p {
    margin-bottom: 1em;
}

.heading {
    text-align: end;
    margin-top: 2em;
    margin-bottom: 0.7em;
}
.favorite_inner {
    display: flex;
    flex-direction: row;
    gap: 60px;
}
.favorite img {
    width: 50%;
    height: 50%;
}
.favorite_text h3 {
    font-weight: normal;
    font-size: 2rem;

}

.favorite_text p {
    line-height: 2em;
    margin: 1.5em 0;
}

.skill h2 {
    margin-top: 1.7em;
}


/* skill---------------------------------------------- */
.bar-chart-002 {
    font-size: .9em;
    margin: 80px;
}

.bar-chart-002 > div {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}

.bar-chart-002 dt {
    width: 170px;
    min-width: 55px;
}

.bar-chart-002 dd {
    width: 100%;
    margin: 0.5em;
    border-radius: 50px;
    background-color: #fff;
    border: 1px solid #000;
    box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.5);
}

.bar-chart-002 span {
    display: inline-block;
    padding-right: 15px;
    border-radius: inherit;
    background-color: #ffbbf199;
    color: #fff;
    font-weight: 600;
    line-height: 38px;
    text-align: right;
    white-space: nowrap;
    animation: anima-bar-chart-002 1.2s ease;
}

@keyframes anima-bar-chart-002 {
    from {
        width: 0;
    }
}

/* -------------------------------------------------------- */

/* works1-------------------------------------------------- */
.works_page {
    background-color: #fff;
    padding: 100px 0;
}
.works_page h2 {
    color: #FFDBF1;
    font-size: 90px;
}

h3 {
    background-color: #FFDBF1;
    margin: 30px 0 10px 0;
    padding: 10px;
    text-align: center;
}
.works1 {
    text-align: center;
    line-height: 2em;
}
.works1_inner {
    text-align: left;
    margin: 2em 0;
}
.hagaki_img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50%;
    width: 50%;
    margin: 10px;
}

.works1_text {
    text-align: left;
    width: 100%;
    /* max-width: 900px; */
    /* margin: auto; */
    /* padding: 0 1rem; */
}

.works1_text tr th {
    /* text-align: center; */
    /* padding: 30px; */
    width: 20%;
}

.works1_text td {
    padding: 0.7rem 0;
}
.works2 .center {
    text-align: center;
    margin: 10px 0;
}
.works2 {
    line-height: 2em;
}
.works2 p {
    text-align: left;
}

.works2 img {
    margin: auto;
    width: 50%;
    height: 50%;
    display: block;
}

.works2 .works2_inner {
    margin: 1rem 0;
}



.biyou h3 {
    background-color: #fff;
    margin: 30px 0 10px 0;
    padding: 10px;
    text-align: center
}

.biyou p {
    text-align: center;
    margin: 2rem 0;
}

.biyou {
    padding-top: 50px;
    /* padding-bottom: 115px; */
}
.biyou img {
    width: 50%;
    height: 50%;
    margin: 1rem;
}
.biyou_inner {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.biyou_text {
    padding: 10px;
}
.biyou_inner p {
    text-align: left;
    line-height: 2em;
}

.biyou_inner .biyou_text p:first-of-type {
    text-align: center;
    font-weight: bold;
    margin: 1rem 0;
}


/* メディアクエリ---------------------------- */
@media (max-width:600px){
    .profile_page h2,
    .heading ,
    .works_page h2 {
        font-size: 60px;
        text-align: center;
        letter-spacing: normal;
        margin-bottom: 2rem;
    }

    .profile_text h3 {
        text-align: center;         
        font-size: 2.5rem
    }

    .profile_text h3::before {
        left: 50%;                  
        transform: translateX(-50%);
        top: -0.5em;                
        font-size: 1.5rem;          
        letter-spacing: 0.1em;      
    }
    .bar-chart-002 {
        width: 95vw;         /* ← 画面幅の95%を使う（左右に2.5%ずつ余白） */
        margin: 40px auto;   /* ← 上下40px・中央寄せ */
        padding: 0;
    }

    .bar-chart-002 > div {
        flex-direction: column; 
        align-items: center; 
    }

    .bar-chart-002 dt {
        width: 100%;          
        margin-bottom: 0.3em; 
    }
    .bar-chart-002 dd {
         width: 95vw;          
         margin: 0 0 1em 0;    
    }
    .bar-chart-002 span {
        line-height: 32px;
    }

    .mainvisual{
        width: 100%;
    }
    .profile_inner{
        flex-direction: column-reverse;
    }
    .favorite_inner{
        flex-direction: column;
    }
    .favorite img {
        width: 80%;
        height: 80%;
        display: block;
        margin: auto;
    }
    
    .hagaki_img{
        flex-direction: column;
        display: block;
        margin: auto;
    }
    .biyou_inner {
        flex-direction: column;
        margin: 50px 0;
    }
    .biyou img {
        width: 80%;
        height: 80%;
        display: block;
        margin: auto;
        padding: 1rem;
    }

}